.sidebar{
    background-color: rgb(243, 244, 251);
    color: #070707ef;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
    
    
}

.newChatBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background-color: #5a67d8;
    transition: all 0.3s ease-out;
    color: #fff;
    font-size: large;
    height: 50px;
    width: 90%;
    margin-bottom: 20px;
    
    
    

}

.newChatBtn:hover {
    cursor: pointer;
    transform: scale(1.03, 1.1);
    box-shadow: 0 0 15px rgba(34, 33, 33, 0.6);

}

.logo{
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 8px;
    border-bottom: solid 1px #161616;
    
    
}



.icon {
    height: 35px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.723);
    border-radius: 50%;
    padding: 3px;
    margin-left: 20px;
    
  
}

.logo h2 {
    margin-right: 20px;
    
}

.history {

    margin: 10px;
    padding: 10px;
    height: 100%;
    font-weight: bold;

}

.history li {
    list-style-type: none;
    cursor: pointer;
    padding: 2px 5px;
    margin-bottom: 0.3rem;
    font-size: 16px;
    border: solid 10px transparent;
    position: relative;


}

.history p {
    font-size: 14px;
    color: #646464;
    margin-left: 15px;
}

.history li:hover{
    background-color: #8892ea4b;
    border-radius: 15px;
}